<div class="d-flex">
  <section>
    <div>
      <h1>Hello, I'm Hesham.</h1>
      <h3>Full-stack developer</h3>
      <p>
        Transform ideas into exceptional web solutions.
        <br />
        I'm Hesham Mohammed, a highly skilled full stack developer proficient in
        a wide range of frontend and backend technologies.
        <br />
        Let's collaborate to create remarkable digital experiences that make an
        impact.
      </p>

      <button mat-raised-button color="primary">Download CV</button>
    </div>

    <div></div>
  </section>
</div>
